body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif !important;
}

/* Default settings */
ul {
    padding-left: 0 !important;
    margin: 0 !important;
    list-style: none;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0 !important;
}

input {
    border: none;
    outline: none !important;
}

body .container {
    padding: 0;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.j-start {
    justify-content: flex-start;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.j-between {
    justify-content: space-between;
}

.j-around {
    justify-content: space-around;
}

.a-start {
    align-items: flex-start;
}

.a-center {
    align-items: center;
}

.a-normal {
    align-items: normal;
}

.a-end {
    align-items: flex-end;
}

.column {
    flex-direction: column;
}

.rotateIcon {
    padding-right: 0 !important;
    padding-left: 10px;
    transform: rotate(180deg);
}

/* Swiper default */
.section_pd .container .swiper-buttons {
    grid-gap: 36px;
}

.section_pd .container .swiper-button-next, .section_pd .container .swiper-button-prev, .nextVideo, .prevVideo, .nextInfo, .prevInfo, .nextEvent, .prevEvent, .nextAd, .prevAd {
    position: relative;
    color: #081131;
}

.section_pd .container .swiper-button-next::after, .section_pd .container .swiper-button-prev::after, .nextVideo::after, .prevVideo::after, .nextInfo::after, .prevInfo::after, .nextEvent::after, .prevEvent::after, .nextAd::after, .prevAd::after {
    font-size: 24px;
}

.section_pd .container .swiper-button-prev, .prevVideo, .nextInfo, .prevInfo, .nextEvent, .prevEvent, .nextAd, .prevAd {
    left: auto;
}

.nextVideo, .prevVideo, .nextInfo, .prevInfo, .nextEvent, .prevEvent, .nextAd, .prevAd {
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nextVideo::after, .nextInfo::after, .nextEvent::after, .nextAd::after {
    content: 'next';
    font-family: swiper-icons;
}

.prevVideo::after, .prevInfo::after, .prevEvent::after, .prevAd::after {
    content: 'prev';
    font-family: swiper-icons;
}


/* Triple grid */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-flow: dense;
}

/* 4 elements grid */
.grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-flow: dense;
}

/* Padding for top and bottom from sections*/
.section_pd {
    padding: 80px 0 0 0;
}

/* Margin for top and bottom from sections*/
.section_mg {
    margin: 80px 0 0 0;
}

/* Title style for each section */
.section_title {
    padding-bottom: 40px;
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
}

/* Link to all elements style */
.all_items {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #081131;
    padding: 8px 64px;
    border-radius: 4px;
    border: 1px solid #081131;
    transition: .2s ease-in-out;
}

.all_items:hover {
    color: white;
    background-color: #081131;
}

/* Header */
header {
    padding: 15px 24px;
}

header .header_actions .header_search-form {
    position: relative;
}

header .header_actions .header_search-form .header_search-input {
    color: #00000061;
    padding: 9px 0 9px 10px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #FAFAFA;
}

header .header_actions .header_search-form img {
    position: absolute;
    top: 20%;
    background-color: #FAFAFA;
    right: 0;
    padding: 0 10px;
}

header .header_actions .header_select-language {
    background-color: transparent;
    border: none;
    margin-left: 28px;
}

nav.menu .menu_list {
    padding: 49px 0 23px 0;
}

nav.menu .menu_list .menu_list-item .menu_list-item-link {
    color: #000000DE;
    font-size: 20px;
    font-weight: 400;
}

nav.menu .menu_list .menu_list-item.active-page .menu_list-item-link {
    color: #112350;
    font-weight: 600;
}

/* Breadcrumbs */
.breadcrumb_section .breadcrumb_prev-page {
    font-size: 20px;
    font-weight: 400;
    color: #00000061;
}

.breadcrumb_section .breadcrumb_current-page {
    font-size: 20px;
    font-weight: 400;
    color: #000000A3;
    padding-left: 6px;
}

/* Homepage slider */
.homepage_slider .homepage_slider-items .homepage_slider-item {
    height: 565px;
}

.homepage_slider .homepage_slider-items .homepage_slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homepage_slider .mySwiper .homepage_slider-pagination {
    padding-top: 41px;
    position: relative;
}

.homepage_slider .mySwiper .homepage_slider-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border: 1px solid #3F2D77;
    background-color: white;
    border-radius: 10px;
    transition: .2s ease-in-out;
}

.homepage_slider .mySwiper .homepage_slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #3F2D77;
    height: 20px;
    width: 39px;
    left: 0px;
    top: 1px;
    border-radius: 10px;
}

/* Homepage news section */
.news .news_section .news_items {
    grid-gap: 24px;
}

.news .news_section .news_items .news_item .news_info {
    width: 80%;
    margin: auto;
    padding: 22px 24px;
    border-radius: 10px;
    box-shadow: 0px 4px 40px 0px #8E909929;
    transform: translateY(-25%);
    background-color: white;
    transition: .2s ease-in-out;
}

.news .news_section .news_items .news_item .news_info:hover {
    background-color: #0F214D;
}

.news .news_section .news_items .news_item .news_info:hover .news_info-title,
.news .news_section .news_items .news_item .news_info:hover .news_info-text,
.news .news_section .news_items .news_item .news_info:hover .news_info-details, .news .news_section .news_items .news_item .news_info:hover svg path{
    color: white;
    fill: white;
}

.news .news_section .news_items .news_item .news_info:hover .news_link {
    background-color: white;
}

.news .news_section .news_items .news_item .news_img {
    height: 260px;
}

.news .news_section .news_items .news_item .news_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.news .news_section .news_items .news_item .news_info .news_info-title {
    color: #081131;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 12px;
    transition: .2s ease-in-out;
}

.news .news_section .news_items .news_item .news_info .news_info-text {
    color: #000000A3;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px !important;
    transition: .2s ease-in-out;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    text-overflow: ellipsis;
}

.news .news_section .news_items .news_item .news_info .news_info-details {
    color: #00000061;
    font-size: 14px;
    font-weight: 400;
}


.news .news_section .news_items .news_item .news_info .news_info-details .news_details-views {
    padding-left: 10px;
}

.news .news_section .news_items .news_item .news_info .news_link {
    display: inline-block;
    color: #0F214D;
    margin-top: 6px;
    padding: 6px 36px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid #0F214D;
}

/* Homepage videos section */
.videos .video_section .video_items {
    grid-gap: 24px;
    padding-bottom: 64px;
}

.videos .video_section .video_items .swiper-slide {
    height: 278px;
}

/* Homepage information section */
.information .information_items {
    grid-gap: 24px;
}

.information .information_items .information_item .information-title {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 16px 16px 40px 16px;
    box-shadow: 0px 4px 40px 0px #8E909929;
}

.information .information_items .information_item .information-img {
    height: 278px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.information .information_items .information_item .information-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.information .information_items .information_item .information-title h4 {
    color: #081131;
    font-size: 24px;
    font-weight: 400;
}

/* Homepage FAQ section */
.faq .faq_section .faq_title {
    background-color: #112350;
}

.faq .faq_section .faq_title .section_title {
    color: white;
    text-transform: uppercase;
    padding: 28px 0;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.faq .faq_section .faq_items {
    padding-top: 24px;
}


.faq .faq_section .faq_items .faq_item {
    cursor: pointer;
    padding: 28px;
    margin-bottom: 24px;
    background-color: white;
    box-shadow: 0px 4px 40px 0px #8E909929;
}

.faq .faq_section .faq_items .faq_item .faq_item-title {
    font-size: 32px;
    font-weight: 600;
}

.faq .faq_section .faq_items .faq_item .faq_item-title img {
    padding-right: 10px;
    transition: .2s ease-in-out;
}

.faq .faq_section .faq_items .faq_item .faq_item-text {
    padding: 16px 16px 0 16px;
}

/* Homepage Links */
.media_links {
    padding-bottom: 80px;
}

.links .links_section {
    grid-gap: 76px;
}

.links .links_section .link {
    width: 100%;
    display: inline-block;
}

.links .links_section .link img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

/* Homepage Subscribe */
.subscribe {
    margin: 80px 0 0 0;
    background: linear-gradient(89.84deg, #112C69 1.24%, #2C4070 34.11%, #17274B 66.99%, #425073 99.86%);
}

.subscribe .subscribe_section {
    padding: 64px 0;
}

.subscribe .subscribe_section .subscribe_title {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 8px;
}

.subscribe .subscribe_section .subscribe_subtitle {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.subscribe .subscribe_section .subscirbe_form {
    padding: 6px;
    width: 50%;
    margin: auto;
    margin-top: 40px;
    border-radius: 40px;
    background-color: white;
}

.subscribe .subscribe_section .subscirbe_form .subscribe_field {
    color: #081131;
    font-size: 20px;
    border-radius: 40px;
    font-weight: 500;
    width: 100%;
    padding-left: 20px;
}

.subscribe .subscribe_section .subscirbe_form .subscribe_field::placeholder {
    color: #081131;
}

.subscribe .subscribe_section .subscirbe_form .subscribe_button {
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    background-color: #122552;
    padding: 16px 64px;
    text-transform: uppercase;
}

.subscribe .subscribe_section .subscirbe_form .subscribe_button span {
    padding-left: 4px;
}

/* Ads (elanlar) style */
.ads_section .ad_items {
    grid-gap: 24px;
    padding-bottom: 64px;
}

.ads_section .ad_items .ad_item {
    padding: 46px;
    border-radius: 20px;
    box-shadow: 0px 4px 40px 0px #8E909929;
}

.ads_section .ad_items .ad_item .ad_info-text {
    color: #5C5C5C;
    padding-bottom: 56px;
    font-size: 14px;
    font-weight: 400;
}

.ads_section .ad_items .ad_item .ad_info-details .ad_details-date {
    color: #00000061;
    font-size: 14px;
    font-weight: 400;
}

.ads_section .ad_items .ad_item .ad_info-details .ad_details-views {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #00000061;
}

.ads_section .swiper-pagination-bullet {
    width: 24px;
    height: 24px;
    border-radius: 0;
}

.ads_page .swiper {
    overflow: visible;
}

.ads_page .swiper .ad_items {
    grid-gap: 0;
}

.ads_page .swiper-slide {
    grid-gap: 24px;
    opacity: 0;
}

.ads_page .swiper .swiper-slide-active {
    opacity: 1;
}

.ads_page .swiper-pagination, .event_elem .swiper-pagination{
    position: relative;
    padding-top: 132px;
}

.ads_page .swiper-pagination .swiper-pagination-bullet, .swiper-pagination .swiper-pagination-bullet{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFADE;
    border-radius: 0;
}

.ads_page .swiper-pagination .swiper-pagination-bullet-active, .swiper-pagination .swiper-pagination-bullet-active{
    color: white;
    background-color: #0C1C47;
}

/* Events(tədbirlər) style */
.events .events_section .event_items {
    grid-gap: 24px;
    padding-bottom: 64px;
}

.events .events_section .event .event_img {
    height: 288px
}

.events .events_section .event .event_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.events .events_section .event .event_info {
    padding: 20px 12px 12px;
    box-shadow: 0px 4px 40px 0px #8E909929;
}

.events .events_section .event .event_info .event_title {
    color: #081131;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.events .events_section .event .event_info .event_stats {
    padding-top: 76px;
    font-size: 16px;
    font-weight: 400;
    color: #081131A3;
}

.events_slider{
    display: none;
}

/* Infographics */
.infographics .swiperInfographics .info_section {
    grid-gap: 24px;
}

.infographics .swiperInfographics .info {
    height: 168px;
}

.infographics .swiperInfographics .info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Charters page */
.charters {
    margin-top: 80px;
}

.charter .charters .charter_item {
    margin-bottom: 24px;
    padding: 28px;
    box-shadow: 0px 4px 40px 0px #8E909929;
}

.charter .charters .charter_item .charter_name {
    color: #081131DE;
    font-size: 32px;
    font-weight: 600;
}

/* Infoboard page */
.info_board .info_board-title {
    color: #081131;
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    padding: 48px 0 18px 0;
}

.info_board .info_board-text p{
    color: #000000A3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0015em;
    text-align: left;
    padding-bottom: 12px;
}

.info_board .info_board-images{
    margin: 12px 0;
}

.info_board .info_board-images img{
    width: 50%;
    height: 458px;
    object-fit: cover;
}

.info_board .info_board-images .info_board-img:nth-child(even){
    display: flex;
    justify-content: flex-end;
}

.info_board-stats{
    color: #00000061;
    font-size: 14px;
    font-weight: 400;
    padding: 40px 0 80px;
}

.info_board-stats .info_board-date{
    padding-right: 12px;
}

.info_board-stats .info_board-views svg{
    padding-right: 4px;
}

/* Events page */
.events_tabs{
    padding: 8px;
    margin-bottom: 40px;
    width: 100%;
    background-color: white;
    grid-gap: 12px;
    box-shadow: 0px 4px 40px 0px #8E909929;
}
.events_tabs .event_tab{
    width: 100%;
    color: #081131;
    padding: 30px;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border: 1px solid #FAFAFA;
    border-radius: 10px;
}

.events_tabs .event_tab.active_event-tab{
    color: white;
    background-color: #081131;
}

.all_events{
    grid-gap: 24px;
    margin-bottom: 40px;
}

/* Activities */
.activity{
    display: none;
}
.activity p{
    padding-top: 10px;
}

.activity_images{
    grid-gap: 24px;
}

.active_elem{
    display: block !important;
}

/* Legislation */
.legislation_section .event_tab svg{
    padding-right: 10px;
}
.legislation_section .active_event-tab svg path{
    fill: white;
}
.legislation_section .event_tab{
    padding: 8px 16px;
}
.legislation{
    display: none;
}
.legislation h4{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.legislation .legislation_text{
    padding: 40px 0 24px 0;
    color: #000000A3;
    font-size: 20px;
    font-weight: 500;
}

.download_legislation{
    padding: 6px 12px;
    display: inline-block;
    color: white;
    border-radius: 4px;
    background-color: #0D1E49;
}

.download_legislation:hover{
    color: white;
}

.download_legislation svg{
    width: 24px;
    height: 24px;
    margin-left: 12px;
}

/* News */
.all_news{
    grid-gap: 24px;
}
.all_latest-news{
    grid-column: span 2;
}

.latest_news{
    color: #081131;
    padding: 16px;
    margin-bottom: 8px;
    border-bottom: 1px solid #EFEFEF;
    box-shadow: 0px 4px 40px 0px #8E909929;
}

.latest_news:hover{
    color: #081131;
}

.latest_news .news_img{
    width: 50%;
    height: 189px;
}

.latest_news .news_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.latest_news .news_text{
    padding-left: 16px;
}

.latest_news .news_text h6{
    font-size: 16px;
    font-weight: 600;
}

.latest_news .news_text p{
    padding: 18px 0 34px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000000A3;
}

.news_stats{
    color:#000000A3;
}

.news_views{
    padding-left: 10px;
}

.news_views svg{
    margin-right: 6px;
}

.news_items .latest_news{
    width: 100% !important;
}

.all_latest-news_pagination{
    margin: 40px 0;
}

.all_latest-news_pagination .pagination-item{
    width: 40px;
    height: 40px;
    color: #0C1C47;
    background-color: #FAFAFADE;
}

.all_latest-news_pagination .pagination-item.active_pagination{
    background-color: #0C1C47;
    color: #fff;
}

.similar_news-section{
    margin-bottom: 48px;
}

.similar-news_title, .simple-news_title{
    color: white;
    padding: 4px 14px;
    background: #0F214D;
    font-size: 32px;
    font-weight: 500;
}

.similar_news{
    color: #000;
    padding: 16px 8px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #EFEFEF;
}

.similar_news:hover{
    color: #000;
}

.similar_news p{
    width: 60%;
    padding-right: 8px;
}

.similar_news .similar_news-img{
    width: 40%;
}

.similar_news .similar_news-img img{
    width: 100%;
    height: 130px;
}

.sample_news-slider{
    margin: 24px 0;
}

.sample_news-slider .sampleNewsSwiper .homepage_slider-item{
    color: #081131;
    height: 100%;
}

.sample_news-slider .sampleNewsSwiper .homepage_slider-item img{
    height: 157px;
}

/* Videogallery */
.videogallery{
    grid-gap: 24px;
}

.videogallery .video,.videogallery .video iframe{
    position: relative;   
    width: 100%;
    height: 100%;
}

.videogallery .video iframe{
    height: 278px;
    border-radius: 10px;
}

.videogallery .video::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 98%;
    background-color: #00000080;
    opacity: 0.5;
    left: 0;
    top: 0;
    border-radius: 10px;
}

body .mfp-bg{
    background-color: rgba(17, 35, 80, 0.5);
}

body .mfp-iframe-holder .mfp-content{
    width: 85%;
    max-width: 100%;
}

/* NewsInner */
.news_title{
    padding-bottom: 40px;
    font-size: 40px;
    font-weight: 400;
    color: #081131;
}

.text_area img{
    height: 392px;
    object-fit: cover;
}

.text_area p{
    padding-left: 24px;
}

.newsInner_share{
    display: flex;
    grid-gap: 16px;
}

.newsInner_share a{
    display: inline-block;
}

.newsInner_stats{
    margin: 24px 0;
}

.newsInner_rate{
    margin-left: 50px;
}

.newsInner_rate button{
    outline: none;
    border: none;
    background-color: transparent;
}

.newsInner_rate button svg{
    margin-right: 8px;
}

.newsInner_rate button:nth-child(2){
    margin-left: 30px;
}

/* Azerbaijan */
.Azerbaijan_info{
    padding: 40px 0 80px 0;
}
.Azerbaijan{
    padding: 23px 0;
}
.Azerbaijan_details h4{
    padding-top: 16px;
}

.Azerbaijan_flag img{
    width: 125px;
    height: 63px;
    object-fit: cover;
}

.Azerbaijan_gerb img{
    width: 100px;
    height: 109px;
}

.Heydar_Aliyev-img img{
    width: 100%;
    height: 100%;
}

.Heydar_Aliyev-text{
    padding: 40px 0;
    font-size: 20px;
    font-weight: 400;
    color: #081131;
}

.Azerbaijan_map{
    margin: 150px 0;
    height: 70vh;
}

.map{
    position: relative;
    width: 60%;
    height: 100%;
}

.map svg{
    position: absolute;
}

.baku{
    right: 0;
}

.quba{
    right: 127px;
    top: -140px;
}

.shirvan{
    right: 139px;
    top: -13px;
}

.sheki{
    top: -147px;
    right: 276px;
}

.aran{
    right: 121px;
    top: 13px;
}

.qazakh{
    top: -76px;
    right: 420px;
}

.lankaran{
    top: 220px;
    right: 172px;
}

.karabakh{
    top: 81px;
    right: 334px;
}

.article{
    margin-bottom: 40px;
}
.article_img{
    width: 35%;
    height: 253px;
}
.article_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article_info-title{
    color: #081131;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 24px;
}

.article_info{
    width: 65%;
    padding-left: 24px;
}

.article_info p{
    color: #081131;
    font-size: 20px;
    font-weight: 400;
}

.more_article{
    color: #0F214D;
    display: inline-block;
    padding: 6px 40px;
    border-radius: 4px;
    border: 1px solid #0F214D;
    transition: .2s ease-in-out;
}

.more_article:hover{
    color: white;
    background-color: #0F214D;
}

/* Contact page */
.contact_section {
    margin-top: 80px;
    padding: 38px 0 156px;
}

.contact_details {
    width: 40%;
}

.contact_details-title {
    color: #081131;
    font-size: 60px;
    font-weight: 500;
}

.contact_details-list li {
    color: #000000DE;
    font-size: 20px;
    font-weight: 400;
}

.contact_details-list li a {
    margin-left: 14px;
    color: #000000DE;
}

.contact_form {
    width: 60%;
}

.contact .contact_form input, .contact .contact_form textarea {
    width: 55%;
    padding: 18px 12px;
    margin: 0 auto 14px auto;
    border-radius: 4px;
    border: 1px solid #08074B
}

.contact .contact_form button {
    color: #fff;
    width: 55%;
    margin: auto;
    padding: 10px 0;
    border-radius: 4px;
    border: none;
    background-color: #112350;
}

.contact_details-title {
    padding-bottom: 40px;
}

.contact_details-list li {
    margin-bottom: 18px;
}


/* Footer */
footer {
    padding: 24px;
    background-color: #0B1C46;
}

footer .footer {
    padding: 40px 0;
}

footer .footer .footer_logo {
    width: 30%;
}

footer .footer .footer_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer .footer .footer_title {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 32px;
}

footer .footer .footer_links-list .footer_links-list-item {
    margin-bottom: 14px;
}

footer .footer .footer_addresses .footer_links-list-item a {
    padding-left: 24px;
}

footer .footer .footer_links-list .footer_links-list-item a,
footer .footer .footer_links-list .footer_links-list-item p {
    color: #B6B6B6;
}

footer .footer .footer_addresses {
    width: 30%;
}

@media (min-width: 991px) {
    .events .events_section  .event_items .event, .ads .ads_section .ad_items .ad_item, .news .news_section .news_items .swiper-slide, .videos .video_items .swiper-slide {
        width: 32% !important;
    }
    .infographics .swiperInfographics .info {
        width: 23.5% !important;
    }
}

@media (max-width: 768px){
    header{
        display: none;
    }
    body .container{
        padding:0 12px;
    }
    .grid-3{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .grid-4{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .section_pd{
        padding: 32px 0;
    }
    .section_title{
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 0;
    }
    .homepage_slider .homepage_slider-items .homepage_slider-item{
        height: 167px;
    }
    .information .information_items .information_item .information-img{
        height: 100px;
    }
    .information .information_items .information_item .information-title h4{
        font-size: 16px;
    }
    .links .links_section{
        grid-gap: 12px;
    }
    .links .links_section .link img{
        height: 96px;
    }
    .subscribe .subscribe_section .subscirbe_form{
        width: 100%;
    }
    .subscribe .subscribe_section .subscribe_title{
        font-size: 24px;
    }
    .subscribe .subscribe_section .subscribe_subtitle{
        font-size: 16px;
    }
    .subscribe .subscribe_section .subscirbe_form .subscribe_button{
        padding: 8px 24px;
    }
    footer{
        padding-top: 12px ;
    }
    footer .footer{
        padding: 0;
        flex-direction: column;
    }
    footer .footer .footer_logo{
        width: 100%;
    }
    footer .footer .footer_logo img{
        margin-bottom: 40px;
    }
    footer .footer .footer_addresses{
        width: 100%;
    }
    .events_tabs{
        margin-bottom: 20px;
    }
    .events_tabs .event_tab{
        font-size: 14px;
        padding: 16px;
    }
    .events_tabs .event_tab p{
        display: none;
    }
    .events_tabs .event_tab svg{
        padding-right: 0;
        width: 100%;
        height: 100%;
    }
    .contact_section{
        padding-bottom: 20px;
        flex-direction: column;
    }
    .contact_details, .contact_form{
        width: 100%;
    }
    .contact .contact_form input, .contact .contact_form textarea{
        width: 100%;
    }
    .all_news{
        display: flex;
        flex-direction: column;
    }
    .latest_news .news_text{
        width: 60%;
    }
}

@media (max-width: 475px){
    .legislation_section .events_tabs{
        position: fixed;
        left: 0;
        top: 0;
        margin: 0;
        z-index: 2;
    }
    .grid-3{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .news .news_section .news_items .news_item .news_info{
        width: 90%;
        transform: translateY(-10%);
    }
    .news .news_section .news_items .news_item .news_info .news_info-text{
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        text-overflow: ellipsis;
        line-height: 16px;
    }
    .news .news_section .news_items .news_item .news_info .news_info-title, .news .news_section .news_items .news_item .news_info .news_info-text, .news .news_section .news_items .news_item .news_info .news_link, .news .news_section .news_items .news_item .news_info .news_info-details, .subscribe .subscribe_section .subscirbe_form .subscribe_button{
        font-size: 12px;
    }
    .news .news_section .news_items .news_item .news_img{
        height: 150px;
    }
    .subscribe .subscribe_section .subscirbe_form .subscribe_field{
        font-size: 14px;
    }
    .ads_section .ad_items .ad_item{
        font-size: 14px;
        padding: 24px;
    }
    .ads_section .ad_items .ad_item .ad_info-text{
        padding-bottom: 36px;
    }
    .events .events_section .event .event_img{
        height: 140px;
    }
    .events .events_section .event .event_info .event_title{
        font-size: 14px;
    }
    .events .events_section .event .event_info .event_stats{
        padding-top: 38px;
    }
    .event_stats h6{
        font-size: 12px;
    }
    .videogallery{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .videogallery .video iframe{
        height: 180px;
    }
    .info_board-img{
        margin-bottom: 10px;
    }
    .info_board .info_board-images img{
        width: 100%;
        height: 300px;
    }
    .charter .charters .charter_item{
        padding: 16px;
    }
    .charter .charters .charter_item .charter_name{
        font-size: 12px;
        padding-right: 10px;
    }
    .latest_news .news_img{
        width: 30%;
        height: 80px;
    }
    .latest_news .news_text p{
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        text-overflow: ellipsis;
        padding: 0;
        margin: 10px 0;
    }
    .latest_news .news_stats{
        margin: 10px 0 0 0;
    }
}