body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif !important;
}

/* Default settings */
ul {
    padding-left: 0 !important;
    margin: 0 !important;
    list-style: none;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0 !important;
}

input {
    border: none;
    outline: none !important;
}

.container {
    padding: 0 !important;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.j-start {
    justify-content: flex-start;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.j-between {
    justify-content: space-between;
}

.j-around {
    justify-content: space-around;
}

.a-start {
    align-items: flex-start;
}

.a-center {
    align-items: center;
}

.a-normal {
    align-items: normal;
}

.a-end {
    align-items: flex-end;
}

.column {
    flex-direction: column;
}

.rotateIcon{
    padding-right: 0 !important;
    padding-left: 10px;
    transform: rotate(180deg);
}
  
/* Swiper default */
.section_pd .container .swiper-buttons{
    grid-gap: 36px;
}

.section_pd .container .swiper-button-next,.section_pd .container .swiper-button-prev, .nextVideo, .prevVideo, .nextInfo, .prevInfo,  .nextEvent, .prevEvent, .nextAd, .prevAd{
    position: relative;
    color: #081131;
}

.section_pd .container .swiper-button-next::after,.section_pd .container .swiper-button-prev::after, .nextVideo::after, .prevVideo::after, .nextInfo::after, .prevInfo::after, .nextEvent::after, .prevEvent::after, .nextAd::after, .prevAd::after{
    font-size: 24px;
}

.section_pd .container .swiper-button-prev, .prevVideo, .nextInfo, .prevInfo,  .nextEvent, .prevEvent, .nextAd, .prevAd{
    left: auto;
}

.nextVideo, .prevVideo, .nextInfo, .prevInfo, .nextEvent, .prevEvent, .nextAd, .prevAd{
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nextVideo::after, .nextInfo::after, .nextEvent::after, .nextAd::after{
    content: 'next';
    font-family: swiper-icons;
}

.prevVideo::after, .prevInfo::after, .prevEvent::after, .prevAd::after{
    content: 'prev';
    font-family: swiper-icons;
}


/* Triple grid */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-flow: dense;
}

/* 4 elements grid */
.grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-flow: dense;
}

/* Padding for top and bottom from sections*/
.section_pd {
    padding: 80px 0 0 0;
}

/* Margin for top and bottom from sections*/
.section_mg {
    margin: 80px 0 0 0;
}

/* Title style for each section */
.section_title {
    padding-bottom: 40px;
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
}

/* Link to all elements style */
.all_items {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #081131;
    padding: 8px 64px;
    border-radius: 4px;
    border: 1px solid #081131;
    transition: .2s ease-in-out;
}

.all_items:hover {
    color: white;
    background-color: #081131;
}

/* Header */
header {
    padding: 15px 24px;
}

header .header_actions .header_search-form {
    position: relative;
}

header .header_actions .header_search-form .header_search-input {
    color: #00000061;
    padding: 9px 0 9px 10px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #FAFAFA;
}

header .header_actions .header_search-form img {
    position: absolute;
    top: 20%;
    background-color: #FAFAFA;
    right: 0;
    padding: 0 10px;
}

header .header_actions .header_select-language {
    background-color: transparent;
    border: none;
    margin-left: 28px;
}

nav.menu .menu_list {
    padding: 49px 0 23px 0;
}

nav.menu .menu_list .menu_list-item .menu_list-item-link {
    color: #000000DE;
    font-size: 20px;
    font-weight: 400;
}

nav.menu .menu_list .menu_list-item.active-page .menu_list-item-link {
    color: #112350;
    font-weight: 600;
}

/* Breadcrumbs */
.breadcrumb_section .breadcrumb_prev-page{
    font-size: 20px;
    font-weight: 400;
    color: #00000061;
}

.breadcrumb_section .breadcrumb_current-page{
    font-size: 20px;
    font-weight: 400;
    color: #000000A3;
    padding-left: 6px;
}

/* Homepage slider */
.homepage_slider .homepage_slider-items .homepage_slider-item {
    height: 565px;
}

.homepage_slider .homepage_slider-items .homepage_slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homepage_slider .mySwiper .homepage_slider-pagination {
    padding-top: 41px;
    position: relative;
}

.homepage_slider .mySwiper .homepage_slider-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border: 1px solid #3F2D77;
    background-color: white;
    transition: .2s ease-in-out;
}

.homepage_slider .mySwiper .homepage_slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #3F2D77;
    height: 20px;
    width: 39px;
    left: 0px;
    top: 1px;
    border-radius: 10px;
}

/* Homepage news section */
.news .news_section .news_items {
    grid-gap: 24px;
}

.news .news_section .news_items .swiper-slide, .videos .video_items .swiper-slide{
    width: 32% !important;
}

.news .news_section .news_items .news_item .news_info {
    width: 80%;
    margin: auto;
    padding: 22px 24px;
    border-radius: 10px;
    box-shadow: 0px 4px 40px 0px #8E909929;
    transform: translateY(-25%);
    background-color: white;
    transition: .2s ease-in-out;
}

.news .news_section .news_items .news_item .news_info:hover {
    background-color: #0F214D;
}

.news .news_section .news_items .news_item .news_info:hover .news_info-title,
.news .news_section .news_items .news_item .news_info:hover .news_info-text,
.news .news_section .news_items .news_item .news_info:hover .news_info-details {
    color: white;
}

.news .news_section .news_items .news_item .news_info:hover .news_link {
    background-color: white;
}

.news .news_section .news_items .news_item .news_img {
    height: 260px;
}

.news .news_section .news_items .news_item .news_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.news .news_section .news_items .news_item .news_info .news_info-title {
    color: #081131;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 12px;
    transition: .2s ease-in-out;
}

.news .news_section .news_items .news_item .news_info .news_info-text {
    color: #000000A3;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 8px;
    transition: .2s ease-in-out;
}

.news .news_section .news_items .news_item .news_info .news_info-details {
    color: #00000061;
    font-size: 14px;
    font-weight: 400;
}


.news .news_section .news_items .news_item .news_info .news_info-details .news_details-views {
    padding-left: 10px;
}

.news .news_section .news_items .news_item .news_info .news_link {
    display: inline-block;
    color: #0F214D;
    margin-top: 6px;
    padding: 6px 36px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid #0F214D;
}

/* Homepage videos section */
.videos .video_section .video_items{
    grid-gap: 24px;
    padding-bottom: 64px;
}

.videos .video_section .video_items .swiper-slide{
    height: 278px;
}

/* Homepage information section */
.information .information_items {
    grid-gap: 24px;
}

.information .information_items .information_item .information-title {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 16px 16px 40px 16px;
    box-shadow: 0px 4px 40px 0px #8E909929;
}

.information .information_items .information_item .information-img {
    height: 278px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.information .information_items .information_item .information-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.information .information_items .information_item .information-title h4 {
    color: #081131;
    font-size: 24px;
    font-weight: 400;
}

/* Homepage FAQ section */
.faq .faq_section .faq_title {
    background-color: #112350;
}

.faq .faq_section .faq_title .section_title {
    color: white;
    text-transform: uppercase;
    padding: 28px 0;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.faq .faq_section .faq_items {
    padding-top: 24px;
}


.faq .faq_section .faq_items .faq_item {
    cursor: pointer;
    padding: 28px;
    margin-bottom: 24px;
    background-color: white;
    box-shadow: 0px 4px 40px 0px #8E909929;
}

.faq .faq_section .faq_items .faq_item .faq_item-title {
    font-size: 32px;
    font-weight: 600;
}

.faq .faq_section .faq_items .faq_item .faq_item-title img {
    padding-right: 10px;
    transition: .2s ease-in-out;
}

.faq .faq_section .faq_items .faq_item .faq_item-text{
    padding: 16px 16px 0 16px;
} 

/* Homepage Links */
.media_links{
    padding-bottom: 80px;
}

.links .links_section {
    grid-gap: 76px;
}

.links .links_section .link {
    width: 100%;
    display: inline-block;
}

.links .links_section .link img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

/* Homepage Subscribe */
.subscribe {
    margin: 80px 0 0 0;
    background: linear-gradient(89.84deg, #112C69 1.24%, #2C4070 34.11%, #17274B 66.99%, #425073 99.86%);
}

.subscribe .subscribe_section {
    padding: 64px 0;
}

.subscribe .subscribe_section .subscribe_title {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 8px;
}

.subscribe .subscribe_section .subscribe_subtitle {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.subscribe .subscribe_section .subscirbe_form {
    padding: 6px;
    width: 50%;
    margin: auto;
    margin-top: 40px;
    border-radius: 40px;
    background-color: white;
}

.subscribe .subscribe_section .subscirbe_form .subscribe_field {
    color: #081131;
    font-size: 20px;
    border-radius: 40px;
    font-weight: 500;
    width: 100%;
    padding-left: 20px;
}

.subscribe .subscribe_section .subscirbe_form .subscribe_field::placeholder {
    color: #081131;
}

.subscribe .subscribe_section .subscirbe_form .subscribe_button {
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    background-color: #122552;
    padding: 16px 64px;
    text-transform: uppercase;
}

.subscribe .subscribe_section .subscirbe_form .subscribe_button span {
    padding-left: 4px;
}

/* Ads (elanlar) style */
.ads .ads_section .ad_items {
    grid-gap: 24px;
    padding-bottom: 64px;
}

.ads .ads_section .ad_items .ad_item {
    width: 32% !important;
    padding: 46px;
    border-radius: 20px;
    box-shadow: 0px 4px 40px 0px #8E909929;
}

.ads .ads_section .ad_items .ad_item .ad_info-text {
    color: #5C5C5C;
    padding-bottom: 56px;
    font-size: 14px;
    font-weight: 400;
}

.ads .ads_section .ad_items .ad_item .ad_info-details .ad_details-date {
    color: #00000061;
    font-size: 14px;
    font-weight: 400;
}

.ads .ads_section .ad_items .ad_item .ad_info-details .ad_details-views {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #00000061;
}

/* Events(tədbirlər) style */
.events .events_section .event_items {
    grid-gap: 24px;
    padding-bottom: 64px;
}

.events .events_section .event .event_img {
    height: 288px
}

.events .events_section .event .event_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.events .events_section .event .event_info {
    padding: 20px 12px 12px;
    box-shadow: 0px 4px 40px 0px #8E909929;
}

.events .events_section .event .event_info .event_title {
    color: #081131;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.events .events_section .event .event_info .event_stats {
    padding-top: 76px;
    font-size: 16px;
    font-weight: 400;
    color: #081131A3;
}

.events .events_section .swiperEvents .event_items .event{
    width: 32% !important;
}

/* Infographics */
.infographics .swiperInfographics .info_section{
    grid-gap: 24px;
}

.infographics .swiperInfographics .info{
    width: 23.5% !important;
    height: 168px;
}

.infographics .swiperInfographics .info img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


/* Footer */
footer {
    padding: 24px;
    background-color: #0B1C46;
}

footer .footer {
    padding: 40px 0;
}

footer .footer .footer_logo {
    width: 30%;
}

footer .footer .footer_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer .footer .footer_title {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 32px;
}

footer .footer .footer_links-list .footer_links-list-item {
    margin-bottom: 14px;
}

footer .footer .footer_addresses .footer_links-list-item a {
    padding-left: 24px;
}

footer .footer .footer_links-list .footer_links-list-item a,
footer .footer .footer_links-list .footer_links-list-item p {
    color: #B6B6B6;
}

footer .footer .footer_addresses {
    width: 30%;
}